flow.json
[
    {
        "id": "ba7a781f2b9fb93c",
        "type": "tab",
        "label": "Torsteuerung - UI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b88fb898bd6540cc",
        "type": "tab",
        "label": "Torsteuerung - Logic",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "239bb88f8646fff4",
        "type": "tab",
        "label": "Öl-Zähler",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43d56ff9e5378e0b",
        "type": "tab",
        "label": "Chart",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "27bed9da7de43cc4",
        "type": "tab",
        "label": "Testing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3a841c7cacf5e875",
        "type": "tab",
        "label": "GPIO-Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6937e8fa0d92889a",
        "type": "group",
        "z": "ba7a781f2b9fb93c",
        "name": "User Interface",
        "style": {
            "label": true
        },
        "nodes": [
            "5818d339c49cc5e9",
            "ddeca750eb9f9d62",
            "683a0dd88b9f1a1e",
            "587d67b8d7b4e365",
            "ccf1e3d46ae49f5f",
            "7917cec46f752804",
            "07972ffa7fffa22c",
            "5a5cea01d83b97ae",
            "5d9f826f0f216ed3",
            "7854c790507380c2",
            "7f5248837f9bcab4",
            "7d516493fe893cca",
            "c1f5f92421b1bc70",
            "eb3a84752caeb753"
        ],
        "x": 184,
        "y": 39,
        "w": 322,
        "h": 382
    },
    {
        "id": "898c69c607394c92",
        "type": "group",
        "z": "27bed9da7de43cc4",
        "name": "Testing Output",
        "style": {
            "label": true
        },
        "nodes": [
            "1cf008a2d74cb052",
            "92af62a5cfbf9412",
            "bdd9474cc4d961f6",
            "8e1c5ef3a23dec4c",
            "79d33fe3d1be3b58",
            "d3e4d185621e8110",
            "102ef19d223bfac6",
            "36de064e932c1e66"
        ],
        "x": 444,
        "y": 39,
        "w": 322,
        "h": 202
    },
    {
        "id": "3f154653a7a0dc76",
        "type": "group",
        "z": "27bed9da7de43cc4",
        "name": "Test Input",
        "style": {
            "label": true
        },
        "nodes": [
            "1ca0ae33d6e1bb75",
            "4eb05454d119fa3f",
            "1493bcfdc89a3327",
            "c3a1b8ef6a0ac59a",
            "b3fcc71f7cc16c11",
            "2e6f0daf82b27ce9",
            "89bd2b36641c073f",
            "b0f3026392b33b80",
            "2dfb7ff480250ff1"
        ],
        "x": 14,
        "y": 39,
        "w": 282,
        "h": 242
    },
    {
        "id": "5ec4de0559b4272d",
        "type": "group",
        "z": "3a841c7cacf5e875",
        "name": "GPIO Control",
        "style": {
            "label": true
        },
        "nodes": [
            "7fefb337b96dc93a",
            "b01152a8dc7b6576",
            "1defee9aa070762f",
            "e00dbaaf379cd317",
            "bd63ec7c27db9f41",
            "eefc4be8097954ca",
            "6bdc19a8496779c0",
            "bdf848dbf296cd76",
            "25f1d50de5bf51f0",
            "8963fa445255d4c1",
            "e4bf02a746d30178",
            "d91e309ade317d74"
        ],
        "x": 174,
        "y": 39,
        "w": 272,
        "h": 382
    },
    {
        "id": "6d43257abb473565",
        "type": "group",
        "z": "b88fb898bd6540cc",
        "name": "Logic",
        "style": {
            "label": true
        },
        "nodes": [
            "f2395a2dc8f4284d",
            "82a190df753051e4",
            "d3e6f0ad23c48998",
            "ce71c7124e32cabe",
            "85d39265a738288d",
            "3ac1d7d890223928",
            "124a3d53cf0efa92",
            "b7e70d9c18ec500a",
            "77fb90fbfec9f1b4",
            "042b0ce14dcaaaf6",
            "e81459c8fffc1c55",
            "dce0db5e7f112720",
            "ea2bcd67c9157115",
            "fb0cd6efa5e7555a",
            "a0a12692f3b12cbb",
            "2959a3cfb3ddf903",
            "e1035a52fd0d665c",
            "932084b5ed0deb47",
            "ed1230ed8d6e3369",
            "904702cc397300e9",
            "b4c223c7a1d98d7f",
            "05414fd5f5b780bc",
            "1512c1599f30ef46",
            "0c0c0abd75cb3b42",
            "c77df1f144c4795f",
            "d8f136016bdc66e4",
            "106179da4f912592",
            "93ccc9d2764ab811",
            "868dcd6eaeb460ea",
            "c4bdd00897dc53d8",
            "cde917398030c7f5",
            "51f935c8d643762c",
            "52b5551d389ce5f6",
            "718cde2f59de8f1d",
            "2bfc5dfbefde4dad",
            "c6093726cec3b701",
            "c2bd9dd669db156f",
            "e7973a176069d818",
            "1847a2dc460be837",
            "f944eb7e12431d64",
            "7dd736897875e4a7"
        ],
        "x": 224,
        "y": 59,
        "w": 1422,
        "h": 662
    },
    {
        "id": "a96a0b6e98809ced",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Steiner App",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        },
        "info": "`<title>Steiner App</title>`"
    },
    {
        "id": "88c329bbb5a4c4be",
        "type": "ui_tab",
        "name": "Torsteuerung",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9dc3709413bc9f20",
        "type": "ui_group",
        "name": "Vebrauch",
        "tab": "5a6744794b1fb199",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "4acb9b674af698c2",
        "type": "ui_tab",
        "name": "Öl-Zähler",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bcf2a034187609c2",
        "type": "ui_group",
        "name": "Öl-Verbrauch",
        "tab": "4acb9b674af698c2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a6744794b1fb199",
        "type": "ui_tab",
        "name": "Chart",
        "icon": "mi-chart",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "52847f51b22205df",
        "type": "ui_group",
        "name": "Tor Position",
        "tab": "88c329bbb5a4c4be",
        "order": 1,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "26624b45d4fcf481",
        "type": "ui_group",
        "name": "Torsteuerung",
        "tab": "88c329bbb5a4c4be",
        "order": 2,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5818d339c49cc5e9",
        "type": "ui_button",
        "z": "ba7a781f2b9fb93c",
        "g": "6937e8fa0d92889a",
        "name": "",
        "group": "26624b45d4fcf481",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Down button",
        "tooltip": "Tor-ab",
        "color": "grey",
        "bgcolor": "white",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "5d9f826f0f216ed3"
            ]
        ]
    },
    {
        "id": "ddeca750eb9f9d62",
        "type": "ui_button",
        "z": "ba7a781f2b9fb93c",
        "g": "6937e8fa0d92889a",
        "name": "",
        "group": "26624b45d4fcf481",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Stop button",
        "tooltip": "Tor-stopp",
        "color": "grey",
        "bgcolor": "white",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "5a5cea01d83b97ae"
            ]
        ]
    },
    {
        "id": "683a0dd88b9f1a1e",
        "type": "ui_button",
        "z": "ba7a781f2b9fb93c",
        "g": "6937e8fa0d92889a",
        "name": "",
        "group": "26624b45d4fcf481",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Up button",
        "tooltip": "Tor-Auf",
        "color": "grey",
        "bgcolor": "white",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 320,
        "y": 80,
        "wires": [
            [
                "07972ffa7fffa22c"
            ]
        ]
    },
    {
        "id": "587d67b8d7b4e365",
        "type": "link in",
        "z": "ba7a781f2b9fb93c",
        "g": "6937e8fa0d92889a",
        "name": "Test auf in",
        "links": [
            "c3a1b8ef6a0ac59a"
        ],
        "x": 225,
        "y": 80,
        "wires": [
            [
                "683a0dd88b9f1a1e"
            ]
        ]
    },
    {
        "id": "ccf1e3d46ae49f5f",
        "type": "link in",
        "z": "ba7a781f2b9fb93c",
        "g": "6937e8fa0d92889a",
        "name": "Test stopp in",
        "links": [
            "b3fcc71f7cc16c11"
        ],
        "x": 225,
        "y": 140,
        "wires": [
            [
                "ddeca750eb9f9d62"
            ]
        ]
    },
    {
        "id": "7917cec46f752804",
        "type": "link in",
        "z": "ba7a781f2b9fb93c",
        "g": "6937e8fa0d92889a",
        "name": "Test ab in",
        "links": [
            "2e6f0daf82b27ce9"
        ],
        "x": 225,
        "y": 200,
        "wires": [
            [
                "5818d339c49cc5e9"
            ]
        ]
    },
    {
        "id": "07972ffa7fffa22c",
        "type": "link out",
        "z": "ba7a781f2b9fb93c",
        "g": "6937e8fa0d92889a",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "3ac1d7d890223928"
        ],
        "x": 465,
        "y": 80,
        "wires": []
    },
    {
        "id": "5a5cea01d83b97ae",
        "type": "link out",
        "z": "ba7a781f2b9fb93c",
        "g": "6937e8fa0d92889a",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "124a3d53cf0efa92"
        ],
        "x": 465,
        "y": 140,
        "wires": []
    },
    {
        "id": "5d9f826f0f216ed3",
        "type": "link out",
        "z": "ba7a781f2b9fb93c",
        "g": "6937e8fa0d92889a",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "b7e70d9c18ec500a"
        ],
        "x": 465,
        "y": 200,
        "wires": []
    },
    {
        "id": "7854c790507380c2",
        "type": "ui_text",
        "z": "ba7a781f2b9fb93c",
        "g": "6937e8fa0d92889a",
        "group": "52847f51b22205df",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tor open/closed",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 400,
        "y": 320,
        "wires": []
    },
    {
        "id": "7f5248837f9bcab4",
        "type": "link in",
        "z": "ba7a781f2b9fb93c",
        "g": "6937e8fa0d92889a",
        "name": "Text Tor Position in",
        "links": [
            "a0a12692f3b12cbb",
            "fb0cd6efa5e7555a"
        ],
        "x": 225,
        "y": 380,
        "wires": [
            [
                "7854c790507380c2"
            ]
        ]
    },
    {
        "id": "7d516493fe893cca",
        "type": "ui_text",
        "z": "ba7a781f2b9fb93c",
        "g": "6937e8fa0d92889a",
        "group": "52847f51b22205df",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tor in % Offen",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 400,
        "y": 260,
        "wires": []
    },
    {
        "id": "c1f5f92421b1bc70",
        "type": "link in",
        "z": "ba7a781f2b9fb93c",
        "g": "6937e8fa0d92889a",
        "name": "Text Torposition in % in",
        "links": [
            "904702cc397300e9"
        ],
        "x": 225,
        "y": 260,
        "wires": [
            [
                "7d516493fe893cca"
            ]
        ]
    },
    {
        "id": "eb3a84752caeb753",
        "type": "link in",
        "z": "ba7a781f2b9fb93c",
        "g": "6937e8fa0d92889a",
        "name": "Test Text Position in",
        "links": [
            "3fd276e42915a427"
        ],
        "x": 225,
        "y": 320,
        "wires": [
            [
                "7854c790507380c2"
            ]
        ]
    },
    {
        "id": "f2395a2dc8f4284d",
        "type": "change",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Change MSG on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "upLock",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "upLock",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 100,
        "wires": [
            [
                "05414fd5f5b780bc"
            ]
        ]
    },
    {
        "id": "82a190df753051e4",
        "type": "trigger",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Trigger up",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 360,
        "y": 120,
        "wires": [
            [
                "1512c1599f30ef46"
            ]
        ]
    },
    {
        "id": "d3e6f0ad23c48998",
        "type": "link out",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Debugg Relais stopp out",
        "mode": "link",
        "links": [
            "b80323ba59d16c67",
            "bd63ec7c27db9f41"
        ],
        "x": 1605,
        "y": 260,
        "wires": []
    },
    {
        "id": "ce71c7124e32cabe",
        "type": "link out",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Debugg Relais auf out",
        "mode": "link",
        "links": [
            "e00dbaaf379cd317"
        ],
        "x": 1605,
        "y": 120,
        "wires": []
    },
    {
        "id": "85d39265a738288d",
        "type": "link out",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Debugg Relais ab out",
        "mode": "link",
        "links": [
            "53201b311b22b5a7",
            "eefc4be8097954ca"
        ],
        "x": 1605,
        "y": 420,
        "wires": []
    },
    {
        "id": "3ac1d7d890223928",
        "type": "link in",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "link in 9",
        "links": [
            "07972ffa7fffa22c"
        ],
        "x": 265,
        "y": 120,
        "wires": [
            [
                "82a190df753051e4"
            ]
        ]
    },
    {
        "id": "124a3d53cf0efa92",
        "type": "link in",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "link in 10",
        "links": [
            "5a5cea01d83b97ae"
        ],
        "x": 265,
        "y": 260,
        "wires": [
            [
                "77fb90fbfec9f1b4"
            ]
        ]
    },
    {
        "id": "b7e70d9c18ec500a",
        "type": "link in",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "link in 11",
        "links": [
            "5d9f826f0f216ed3"
        ],
        "x": 265,
        "y": 420,
        "wires": [
            [
                "042b0ce14dcaaaf6"
            ]
        ]
    },
    {
        "id": "77fb90fbfec9f1b4",
        "type": "trigger",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Trigger stop",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "106179da4f912592"
            ]
        ]
    },
    {
        "id": "042b0ce14dcaaaf6",
        "type": "trigger",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Trigger down",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 370,
        "y": 420,
        "wires": [
            [
                "c4bdd00897dc53d8"
            ]
        ]
    },
    {
        "id": "e81459c8fffc1c55",
        "type": "change",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "DoorIsClosed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Tor geschlossen",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 640,
        "wires": [
            [
                "a0a12692f3b12cbb"
            ]
        ]
    },
    {
        "id": "dce0db5e7f112720",
        "type": "switch",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "IsClosed",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 660,
        "wires": [
            [
                "e81459c8fffc1c55"
            ],
            [
                "ea2bcd67c9157115"
            ]
        ]
    },
    {
        "id": "ea2bcd67c9157115",
        "type": "change",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "DoorIsOpen",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Tor offen",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 680,
        "wires": [
            [
                "fb0cd6efa5e7555a"
            ]
        ]
    },
    {
        "id": "fb0cd6efa5e7555a",
        "type": "link out",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Tor offen out",
        "mode": "link",
        "links": [
            "7f5248837f9bcab4"
        ],
        "x": 845,
        "y": 680,
        "wires": []
    },
    {
        "id": "a0a12692f3b12cbb",
        "type": "link out",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Tor geschlossen out",
        "mode": "link",
        "links": [
            "7f5248837f9bcab4"
        ],
        "x": 845,
        "y": 640,
        "wires": []
    },
    {
        "id": "2959a3cfb3ddf903",
        "type": "link in",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "GPIO Tor geschlossen in",
        "links": [
            "25f1d50de5bf51f0"
        ],
        "x": 265,
        "y": 660,
        "wires": [
            [
                "dce0db5e7f112720"
            ]
        ]
    },
    {
        "id": "e1035a52fd0d665c",
        "type": "toggle",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Toggle Door position",
        "onOffTopic": "",
        "onValue": "Tor ist über 50% offen",
        "onType": "str",
        "offValue": "Tor ist unter 50% offen",
        "offType": "str",
        "toggleTopic": "",
        "toggleValue": "false",
        "toggleType": "bool",
        "passOnOff": "ifChanged",
        "x": 700,
        "y": 540,
        "wires": [
            [
                "904702cc397300e9",
                "b4c223c7a1d98d7f"
            ]
        ]
    },
    {
        "id": "932084b5ed0deb47",
        "type": "trigger",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Trigger bool to impulse",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 400,
        "y": 540,
        "wires": [
            [
                "e1035a52fd0d665c"
            ]
        ]
    },
    {
        "id": "ed1230ed8d6e3369",
        "type": "link in",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "GPIO 50% in",
        "links": [
            "b0f3026392b33b80",
            "d91e309ade317d74"
        ],
        "x": 265,
        "y": 540,
        "wires": [
            [
                "932084b5ed0deb47"
            ]
        ]
    },
    {
        "id": "904702cc397300e9",
        "type": "link out",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Text Torposition in % out",
        "mode": "link",
        "links": [
            "c1f5f92421b1bc70"
        ],
        "x": 845,
        "y": 520,
        "wires": []
    },
    {
        "id": "b4c223c7a1d98d7f",
        "type": "link out",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Debugg Text Position % out",
        "mode": "link",
        "links": [
            "1cf008a2d74cb052"
        ],
        "x": 845,
        "y": 560,
        "wires": []
    },
    {
        "id": "05414fd5f5b780bc",
        "type": "function",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Mutual Lock",
        "func": "var uplock = global.get('upLock');\nvar stoplock = global.get('stopLock');\nvar downlock = global.get('downLock');\n\nif(uplock == true && stoplock == false && downlock == false){\n    uplock = true;\n    downlock = false;\n    stoplock = false;\n    global.set('upLock', uplock);\n    global.set('stopLock', stoplock);\n    global.set('downLock', downlock);\n    msg.doorUp = true;\n    msg.uplock;\n    msg.downlock;\n    return msg;\n}else if(uplock == false || stoplock == false || downlock == false){\n    msg.doorUp = false;\n    msg.doorStop = false;\n    msg.doorDown = false;\n    return msg;\n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 120,
        "wires": [
            [
                "52b5551d389ce5f6"
            ]
        ]
    },
    {
        "id": "1512c1599f30ef46",
        "type": "switch",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 120,
        "wires": [
            [
                "f2395a2dc8f4284d"
            ],
            [
                "0c0c0abd75cb3b42"
            ]
        ]
    },
    {
        "id": "0c0c0abd75cb3b42",
        "type": "change",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Change MSG off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "upLock",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "upLock",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 140,
        "wires": [
            [
                "05414fd5f5b780bc"
            ]
        ]
    },
    {
        "id": "c77df1f144c4795f",
        "type": "change",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Change MSG on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stopLock",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "stopLock",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 240,
        "wires": [
            [
                "cde917398030c7f5"
            ]
        ]
    },
    {
        "id": "d8f136016bdc66e4",
        "type": "change",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Change MSG off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stopLock",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "stopLock",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 280,
        "wires": [
            [
                "cde917398030c7f5"
            ]
        ]
    },
    {
        "id": "106179da4f912592",
        "type": "switch",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "c77df1f144c4795f"
            ],
            [
                "d8f136016bdc66e4"
            ]
        ]
    },
    {
        "id": "868dcd6eaeb460ea",
        "type": "change",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Change MSG on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "downLock",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "downLock",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 400,
        "wires": [
            [
                "51f935c8d643762c"
            ]
        ]
    },
    {
        "id": "93ccc9d2764ab811",
        "type": "change",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Change MSG off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "downLock",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "downLock",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 440,
        "wires": [
            [
                "51f935c8d643762c"
            ]
        ]
    },
    {
        "id": "c4bdd00897dc53d8",
        "type": "switch",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 420,
        "wires": [
            [
                "868dcd6eaeb460ea"
            ],
            [
                "93ccc9d2764ab811"
            ]
        ]
    },
    {
        "id": "cde917398030c7f5",
        "type": "function",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Mutual Lock stop",
        "func": "var uplock = global.get('upLock');\nvar stoplock = global.get('stopLock');\nvar downlock = global.get('downLock');\n\nif(uplock == false && stoplock == true && downlock == false){\n    uplock = false;\n    downlock = false;\n    stoplock = true;\n    global.set('upLock', uplock);\n    global.set('stopLock', stoplock);\n    global.set('downLock', downlock);\n    msg.doorStop = true;\n    msg.uplock;\n    msg.downlock;\n    return msg;\n}else if(uplock == false || stoplock == false || downlock == false){\n    msg.doorUp = false;\n    msg.doorStop = false;\n    msg.doorDown = false;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 260,
        "wires": [
            [
                "718cde2f59de8f1d"
            ]
        ]
    },
    {
        "id": "51f935c8d643762c",
        "type": "function",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Mutual Lock stop",
        "func": "var uplock = global.get('upLock');\nvar stoplock = global.get('stopLock');\nvar downlock = global.get('downLock');\n\nif(uplock == false && stoplock == false && downlock == true){\n    uplock = false;\n    downlock = true;\n    stoplock = false;\n    global.set('upLock', uplock);\n    global.set('stopLock', stoplock);\n    global.set('downLock', downlock);\n    msg.doorDown = true;\n    msg.uplock;\n    msg.downlock;\n    return msg;\n}else if(uplock == false || stoplock == false || downlock == false){\n    msg.doorUp = false;\n    msg.doorStop = false;\n    msg.doorDown = false;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 420,
        "wires": [
            [
                "2bfc5dfbefde4dad"
            ]
        ]
    },
    {
        "id": "52b5551d389ce5f6",
        "type": "switch",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Switch DoorUp",
        "property": "doorUp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1200,
        "y": 120,
        "wires": [
            [
                "c6093726cec3b701"
            ],
            [
                "c2bd9dd669db156f"
            ]
        ]
    },
    {
        "id": "718cde2f59de8f1d",
        "type": "switch",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Switch DoorStop",
        "property": "doorStop",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1210,
        "y": 260,
        "wires": [
            [
                "e7973a176069d818"
            ],
            [
                "1847a2dc460be837"
            ]
        ]
    },
    {
        "id": "2bfc5dfbefde4dad",
        "type": "switch",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "Switch DoorDown",
        "property": "doorDown",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1210,
        "y": 420,
        "wires": [
            [
                "f944eb7e12431d64"
            ],
            [
                "7dd736897875e4a7"
            ]
        ]
    },
    {
        "id": "c6093726cec3b701",
        "type": "change",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "UP ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 100,
        "wires": [
            [
                "ce71c7124e32cabe",
                "4c02978533a2d408"
            ]
        ]
    },
    {
        "id": "c2bd9dd669db156f",
        "type": "change",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "UP OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 140,
        "wires": [
            [
                "ce71c7124e32cabe",
                "6ddb19a93dfa59ae"
            ]
        ]
    },
    {
        "id": "e7973a176069d818",
        "type": "change",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "STOP ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 240,
        "wires": [
            [
                "d3e6f0ad23c48998",
                "943e71717ce07ede"
            ]
        ]
    },
    {
        "id": "1847a2dc460be837",
        "type": "change",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "STOP OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 280,
        "wires": [
            [
                "d3e6f0ad23c48998",
                "edd5055ec58cadd3"
            ]
        ]
    },
    {
        "id": "f944eb7e12431d64",
        "type": "change",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "DOWN ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 400,
        "wires": [
            [
                "85d39265a738288d",
                "03761f12106ecc48"
            ]
        ]
    },
    {
        "id": "7dd736897875e4a7",
        "type": "change",
        "z": "b88fb898bd6540cc",
        "g": "6d43257abb473565",
        "name": "DOWN OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 440,
        "wires": [
            [
                "85d39265a738288d",
                "5097b1c94cae1e9d"
            ]
        ]
    },
    {
        "id": "6ddb19a93dfa59ae",
        "type": "link out",
        "z": "b88fb898bd6540cc",
        "name": "link out 14",
        "mode": "link",
        "links": [
            "102ef19d223bfac6"
        ],
        "x": 1515,
        "y": 140,
        "wires": []
    },
    {
        "id": "4c02978533a2d408",
        "type": "link out",
        "z": "b88fb898bd6540cc",
        "name": "link out 15",
        "mode": "link",
        "links": [
            "102ef19d223bfac6"
        ],
        "x": 1515,
        "y": 100,
        "wires": []
    },
    {
        "id": "943e71717ce07ede",
        "type": "link out",
        "z": "b88fb898bd6540cc",
        "name": "link out 16",
        "mode": "link",
        "links": [
            "79d33fe3d1be3b58"
        ],
        "x": 1515,
        "y": 240,
        "wires": []
    },
    {
        "id": "edd5055ec58cadd3",
        "type": "link out",
        "z": "b88fb898bd6540cc",
        "name": "link out 17",
        "mode": "link",
        "links": [
            "79d33fe3d1be3b58"
        ],
        "x": 1535,
        "y": 280,
        "wires": []
    },
    {
        "id": "03761f12106ecc48",
        "type": "link out",
        "z": "b88fb898bd6540cc",
        "name": "link out 18",
        "mode": "link",
        "links": [
            "8e1c5ef3a23dec4c"
        ],
        "x": 1535,
        "y": 400,
        "wires": []
    },
    {
        "id": "5097b1c94cae1e9d",
        "type": "link out",
        "z": "b88fb898bd6540cc",
        "name": "link out 19",
        "mode": "link",
        "links": [
            "8e1c5ef3a23dec4c"
        ],
        "x": 1535,
        "y": 440,
        "wires": []
    },
    {
        "id": "fe86ae9f51486f5b",
        "type": "ui_text",
        "z": "239bb88f8646fff4",
        "group": "bcf2a034187609c2",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Impuls",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 350,
        "y": 80,
        "wires": [],
        "icon": "node-red/trigger.svg"
    },
    {
        "id": "91c2cddf67c80ae3",
        "type": "link in",
        "z": "239bb88f8646fff4",
        "name": "impulse Eingang",
        "links": [
            "e4bf02a746d30178"
        ],
        "x": 175,
        "y": 80,
        "wires": [
            [
                "fe86ae9f51486f5b"
            ]
        ]
    },
    {
        "id": "1ca0ae33d6e1bb75",
        "type": "inject",
        "z": "27bed9da7de43cc4",
        "g": "3f154653a7a0dc76",
        "name": "Auf Befehl",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "c3a1b8ef6a0ac59a"
            ]
        ]
    },
    {
        "id": "4eb05454d119fa3f",
        "type": "inject",
        "z": "27bed9da7de43cc4",
        "g": "3f154653a7a0dc76",
        "name": "Ab Befehl",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "2e6f0daf82b27ce9"
            ]
        ]
    },
    {
        "id": "1493bcfdc89a3327",
        "type": "inject",
        "z": "27bed9da7de43cc4",
        "g": "3f154653a7a0dc76",
        "name": "Stop Befehl",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "b3fcc71f7cc16c11"
            ]
        ]
    },
    {
        "id": "c3a1b8ef6a0ac59a",
        "type": "link out",
        "z": "27bed9da7de43cc4",
        "g": "3f154653a7a0dc76",
        "name": "Test auf out",
        "mode": "link",
        "links": [
            "587d67b8d7b4e365"
        ],
        "x": 255,
        "y": 80,
        "wires": []
    },
    {
        "id": "b3fcc71f7cc16c11",
        "type": "link out",
        "z": "27bed9da7de43cc4",
        "g": "3f154653a7a0dc76",
        "name": "Test stopp out",
        "mode": "link",
        "links": [
            "ccf1e3d46ae49f5f"
        ],
        "x": 255,
        "y": 120,
        "wires": []
    },
    {
        "id": "2e6f0daf82b27ce9",
        "type": "link out",
        "z": "27bed9da7de43cc4",
        "g": "3f154653a7a0dc76",
        "name": "Test ab out",
        "mode": "link",
        "links": [
            "7917cec46f752804"
        ],
        "x": 255,
        "y": 160,
        "wires": []
    },
    {
        "id": "89bd2b36641c073f",
        "type": "inject",
        "z": "27bed9da7de43cc4",
        "g": "3f154653a7a0dc76",
        "name": "Tor Position 50%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "b0f3026392b33b80"
            ]
        ]
    },
    {
        "id": "b0f3026392b33b80",
        "type": "link out",
        "z": "27bed9da7de43cc4",
        "g": "3f154653a7a0dc76",
        "name": "Test input Tor 50% out",
        "mode": "link",
        "links": [
            "ed1230ed8d6e3369"
        ],
        "x": 255,
        "y": 200,
        "wires": []
    },
    {
        "id": "1cf008a2d74cb052",
        "type": "link in",
        "z": "27bed9da7de43cc4",
        "g": "898c69c607394c92",
        "name": "Debugg Text Position % in",
        "links": [
            "b4c223c7a1d98d7f"
        ],
        "x": 485,
        "y": 200,
        "wires": [
            [
                "92af62a5cfbf9412"
            ]
        ]
    },
    {
        "id": "92af62a5cfbf9412",
        "type": "debug",
        "z": "27bed9da7de43cc4",
        "g": "898c69c607394c92",
        "name": "position 50%",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "ca95a0d826c87b1a",
        "type": "toggle",
        "z": "27bed9da7de43cc4",
        "name": "",
        "onOffTopic": "",
        "onValue": "Tor ist geschlossen",
        "onType": "str",
        "offValue": "Tor ist offen",
        "offType": "str",
        "toggleTopic": "",
        "toggleValue": "false",
        "toggleType": "bool",
        "passOnOff": "ifChanged",
        "x": 330,
        "y": 320,
        "wires": [
            [
                "3fd276e42915a427"
            ]
        ]
    },
    {
        "id": "a56fa122f7274c94",
        "type": "trigger",
        "z": "27bed9da7de43cc4",
        "name": "Trigger bool to impulse",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 160,
        "y": 320,
        "wires": [
            [
                "ca95a0d826c87b1a"
            ]
        ]
    },
    {
        "id": "2dfb7ff480250ff1",
        "type": "inject",
        "z": "27bed9da7de43cc4",
        "g": "3f154653a7a0dc76",
        "name": "Tor Position ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "a56fa122f7274c94"
            ]
        ]
    },
    {
        "id": "3fd276e42915a427",
        "type": "link out",
        "z": "27bed9da7de43cc4",
        "name": "Test Text Position out",
        "mode": "link",
        "links": [
            "eb3a84752caeb753"
        ],
        "x": 415,
        "y": 320,
        "wires": []
    },
    {
        "id": "102ef19d223bfac6",
        "type": "link in",
        "z": "27bed9da7de43cc4",
        "g": "898c69c607394c92",
        "name": "link in 12",
        "links": [
            "6ddb19a93dfa59ae",
            "4c02978533a2d408"
        ],
        "x": 485,
        "y": 80,
        "wires": [
            [
                "36de064e932c1e66"
            ]
        ]
    },
    {
        "id": "36de064e932c1e66",
        "type": "debug",
        "z": "27bed9da7de43cc4",
        "g": "898c69c607394c92",
        "name": "Testing GPIO UP",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "79d33fe3d1be3b58",
        "type": "link in",
        "z": "27bed9da7de43cc4",
        "g": "898c69c607394c92",
        "name": "link in 13",
        "links": [
            "943e71717ce07ede",
            "edd5055ec58cadd3"
        ],
        "x": 485,
        "y": 120,
        "wires": [
            [
                "d3e4d185621e8110"
            ]
        ]
    },
    {
        "id": "d3e4d185621e8110",
        "type": "debug",
        "z": "27bed9da7de43cc4",
        "g": "898c69c607394c92",
        "name": "Testing GPIO STOP",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "8e1c5ef3a23dec4c",
        "type": "link in",
        "z": "27bed9da7de43cc4",
        "g": "898c69c607394c92",
        "name": "link in 14",
        "links": [
            "03761f12106ecc48",
            "5097b1c94cae1e9d"
        ],
        "x": 485,
        "y": 160,
        "wires": [
            [
                "bdd9474cc4d961f6"
            ]
        ]
    },
    {
        "id": "bdd9474cc4d961f6",
        "type": "debug",
        "z": "27bed9da7de43cc4",
        "g": "898c69c607394c92",
        "name": "Testing GPIO DOWN",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "7fefb337b96dc93a",
        "type": "rpi-gpio out",
        "z": "3a841c7cacf5e875",
        "g": "5ec4de0559b4272d",
        "name": "Up",
        "pin": "21",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "b01152a8dc7b6576",
        "type": "rpi-gpio out",
        "z": "3a841c7cacf5e875",
        "g": "5ec4de0559b4272d",
        "name": "Stop",
        "pin": "20",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "1defee9aa070762f",
        "type": "rpi-gpio out",
        "z": "3a841c7cacf5e875",
        "g": "5ec4de0559b4272d",
        "name": "Down",
        "pin": "16",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 370,
        "y": 200,
        "wires": []
    },
    {
        "id": "e00dbaaf379cd317",
        "type": "link in",
        "z": "3a841c7cacf5e875",
        "g": "5ec4de0559b4272d",
        "name": "GPIO Tor auf in",
        "links": [
            "ce71c7124e32cabe"
        ],
        "x": 215,
        "y": 80,
        "wires": [
            [
                "7fefb337b96dc93a"
            ]
        ]
    },
    {
        "id": "bd63ec7c27db9f41",
        "type": "link in",
        "z": "3a841c7cacf5e875",
        "g": "5ec4de0559b4272d",
        "name": "GPIO Tor stop in",
        "links": [
            "d3e6f0ad23c48998"
        ],
        "x": 215,
        "y": 140,
        "wires": [
            [
                "b01152a8dc7b6576"
            ]
        ]
    },
    {
        "id": "eefc4be8097954ca",
        "type": "link in",
        "z": "3a841c7cacf5e875",
        "g": "5ec4de0559b4272d",
        "name": "GPIO Tor ab in",
        "links": [
            "85d39265a738288d"
        ],
        "x": 215,
        "y": 200,
        "wires": [
            [
                "1defee9aa070762f"
            ]
        ]
    },
    {
        "id": "6bdc19a8496779c0",
        "type": "rpi-gpio in",
        "z": "3a841c7cacf5e875",
        "g": "5ec4de0559b4272d",
        "name": "Tor geschlossen",
        "pin": "19",
        "intype": "down",
        "debounce": "50",
        "read": true,
        "bcm": true,
        "x": 280,
        "y": 260,
        "wires": [
            [
                "25f1d50de5bf51f0"
            ]
        ]
    },
    {
        "id": "bdf848dbf296cd76",
        "type": "rpi-gpio in",
        "z": "3a841c7cacf5e875",
        "g": "5ec4de0559b4272d",
        "name": "Tor 50%",
        "pin": "13",
        "intype": "down",
        "debounce": "50",
        "read": true,
        "bcm": true,
        "x": 260,
        "y": 320,
        "wires": [
            [
                "d91e309ade317d74"
            ]
        ]
    },
    {
        "id": "25f1d50de5bf51f0",
        "type": "link out",
        "z": "3a841c7cacf5e875",
        "g": "5ec4de0559b4272d",
        "name": "GPIO Tor geschlossen out",
        "mode": "link",
        "links": [
            "2959a3cfb3ddf903"
        ],
        "x": 405,
        "y": 260,
        "wires": []
    },
    {
        "id": "8963fa445255d4c1",
        "type": "rpi-gpio in",
        "z": "3a841c7cacf5e875",
        "g": "5ec4de0559b4272d",
        "name": "Impuls Öl Zähler",
        "pin": "26",
        "intype": "down",
        "debounce": "50",
        "read": true,
        "bcm": true,
        "x": 280,
        "y": 380,
        "wires": [
            [
                "e4bf02a746d30178"
            ]
        ]
    },
    {
        "id": "e4bf02a746d30178",
        "type": "link out",
        "z": "3a841c7cacf5e875",
        "g": "5ec4de0559b4272d",
        "name": "Impuls Ausgang",
        "mode": "link",
        "links": [
            "91c2cddf67c80ae3"
        ],
        "x": 405,
        "y": 380,
        "wires": []
    },
    {
        "id": "d91e309ade317d74",
        "type": "link out",
        "z": "3a841c7cacf5e875",
        "g": "5ec4de0559b4272d",
        "name": "GPIO 50% out",
        "mode": "link",
        "links": [
            "ed1230ed8d6e3369"
        ],
        "x": 405,
        "y": 320,
        "wires": []
    }
]